.card {
  background-color: rgb(255, 255, 255);

  border: 10px solid #0e5aa7;
  padding: 5rem;
  margin: 3rem;
  border-radius: 50px;
  text-align: center;
  max-width: 300px;

}

.card img{
    max-width: 300px;
}